# Step#1 - Scrapping

In [3]:
from bs4 import BeautifulSoup as bs
import requests

In [68]:
url='https://mars.nasa.gov/news/'

In [69]:
html=requests.get(url)

In [70]:
print(html)

<Response [200]>

In [71]:
soup= bs(html.text,'html.parser')

# NASA Mars News

In [72]:
news_title=soup.title.text

In [84]:
news_p=soup.find('p').text

In [82]:
print(news_title)

'Mars planet facts news & images | NASA Mars rover + mission info: News '

In [85]:
print(news_p)

Managed by the Mars Exploration Program and the Jet Propulsion Laboratory for NASAâ€™s Science Mission Directorate

# JPL Mars Space Images = Featured Image

In [983]:
 !pip install splinter

Requirement already satisfied: splinter in c:\users\rajat\anaconda3\lib\site-packages
Requirement already satisfied: selenium>=3.4.3 in c:\users\rajat\anaconda3\lib\site-packages (from splinter)

In [984]:
from splinter import Browser

In [986]:
executable_path = {'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [987]:
url='https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [988]:
html=browser.html
soup= bs(html,'html.parser')

In [989]:
soup.title.text

'Space Images'

In [990]:
#soup.body

In [991]:
soup.find_all('div',class_='carousel_items')

[<div class="carousel_items">
 <article alt="Black Holes Shine for NuSTAR" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA17440-1920x1200.jpg');">
 <div class="default floating_text_area ms-layer">
 <h2 class="category_title">
 </h2>
 <h2 class="brand_title">
 				  FEATURED IMAGE
 				</h2>
 <h1 class="media_feature_title">
 				  Black Holes Shine for NuSTAR				</h1>
 <div class="description">
 </div>
 <footer>
 <a class="button fancybox" data-description="NASA's NuSTAR's serendipitous discovery in this field lies to the left of a galaxy, called IC751, at which the telescope originally intended to look." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA17440_ip.jpg" data-link="/spaceimages/details.php?id=PIA17440" data-title="Black Holes Shine for NuSTAR" id="full_image">
 					FULL IMAGE
 				  </a>
 </footer>
 </div>
 <div class="gradient_container_top"></div>
 <div class="gradient_container_bottom"></div>
 </article>
 </div>]

In [992]:
soup.find_all('a', class_="button fancybox")

[<a class="button fancybox" data-description="NASA's NuSTAR's serendipitous discovery in this field lies to the left of a galaxy, called IC751, at which the telescope originally intended to look." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA17440_ip.jpg" data-link="/spaceimages/details.php?id=PIA17440" data-title="Black Holes Shine for NuSTAR" id="full_image">
 					FULL IMAGE
 				  </a>]

In [993]:
browser.click_link_by_partial_text('FULL IMAGE')

In [994]:
html = browser.html
soup = bs(html, 'html.parser')

In [995]:
browser.click_link_by_partial_text('more info')

In [996]:
html = browser.html
soup = bs(html, 'html.parser')
soup.find_all('figure',class_="lede")

[<figure class="lede">
 <a href="/spaceimages/images/largesize/PIA17440_hires.jpg"><img alt="NASA's NuSTAR's serendipitous discovery in this field lies to the left of a galaxy, called IC751, at which the telescope originally intended to look." class="main_image" src="/spaceimages/images/largesize/PIA17440_hires.jpg" title="NASA's NuSTAR's serendipitous discovery in this field lies to the left of a galaxy, called IC751, at which the telescope originally intended to look."/></a>
 </figure>]

In [997]:
x=0
for i in soup.find_all('a',limit=60):
    x+=1
    if x==59:
        y=i['href']

In [998]:
url = 'https://www.jpl.nasa.gov'
featured_image_url = url + y

##Assigning featured_image_url variable

In [999]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17440_hires.jpg'

# MARS WEATHER

In [60]:
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [61]:
executable_path = {'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [62]:
url='https://twitter.com/marswxreport?lang=en'

In [63]:
browser.visit(url)
html=browser.html
soup= bs(html,'html.parser')

In [64]:
import re
tweets=soup.find_all('p',class_='tweet-text')
for tweet in tweets:
    if tweet.find(text=re.compile('daylight')):
        mars_weather=tweet.find(text=re.compile('daylight'))
        break

In [65]:
mars_weather

'Sol 1970 (Feb 20, 2018), Sunny, high -16C/3F, low -77C/-106F, pressure at 7.32 hPa, daylight 05:38-17:26'

In [66]:
browser.quit()

# Mars Facts

In [1010]:
import pandas as pd

In [1011]:
url='https://space-facts.com/mars/'

In [1012]:
tables=pd.read_html(url)

In [1013]:
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 Â°C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [1014]:
type(tables)

list

In [1015]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [1016]:
df =tables[0]

In [1017]:
df.columns=['Facts','Values']

In [1018]:
df

                  Facts                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

***Converting to HTML***

In [1019]:
html_table=df.to_html()

In [1020]:
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Facts</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 Â°C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [1021]:
html_table.replace('\n','')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-153 to 20 Â°C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [1022]:
df.to_html('mars_facts.html')

In [8]:
soup= bs(open("mars_facts.html"),"html.parser")

In [65]:
## Stripping the soup data and saving in dictionary
mars_info=[]
mars_facts={}
for z in soup.table('td'):
    #print(z.text)
    mars_info.append(z.text.strip(':'))
#mars_info
mars_facts=dict([(k, v) for k,v in zip (mars_info[::2], mars_info[1::2])])
mars_facts

{'Equatorial Diameter': '6,792 km',
 'First Record': '2nd millennium BC',
 'Mass': '6.42 x 10^23 kg (10.7% Earth)',
 'Moons': '2 (Phobos & Deimos)',
 'Orbit Distance': '227,943,824 km (1.52 AU)',
 'Orbit Period': '687 days (1.9 years)',
 'Polar Diameter': '6,752 km',
 'Recorded By': 'Egyptian astronomers',
 'Surface Temperature': '-153 to 20 Â°C'}

In [52]:
#!open mars_facts.html

# Mars Hemisperes

In [1024]:
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [1032]:
executable_path = {'executable_path':'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [1033]:
url='https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [1034]:
browser.visit(url)
html=browser.html
soup= bs(html,'html.parser')

In [1035]:
soup.find_all('h3')

[<h3>Cerberus Hemisphere Enhanced</h3>,
 <h3>Schiaparelli Hemisphere Enhanced</h3>,
 <h3>Syrtis Major Hemisphere Enhanced</h3>,
 <h3>Valles Marineris Hemisphere Enhanced</h3>]

In [1036]:
### Key to cracking this problem was use below code
###link_text = soup.find(class_="description").find('h3').get_text()
###browser.click_link_by_partial_text(link_text)
### Thank Dylan for helping me to crack it....
### Then I tested it with below to get the link from next page
### browser.find_link_by_partial_href('download')['href']

In [1037]:
hemisphere_image_urls=[]
temp_dict={'title':[],'img_url':[]}
capture_text=soup.find_all('h3')
for i in capture_text:
    y=i.get_text()
    val1=y.strip('Enhanced')
    browser.click_link_by_partial_text(y)
    val2=browser.find_link_by_partial_href('download')['href']
    temp_dict={'title':val1,'img_url':val2}
    hemisphere_image_urls.append(temp_dict)
    #img_url.append(browser.find_link_by_partial_href('download')['href'])
    browser.visit(url)

In [1038]:
hemisphere_image_urls

[{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere '},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere '},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere '},
 {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere '}]

In [1039]:
browser.quit()